---
interface Props {
	title: string;
	year: string;
	imageSrc: string;
	imageAlt: string;
	exploreUrl: string;
}

const { title, year, imageSrc, imageAlt, exploreUrl } = Astro.props;
---

<div class="container">
	<img src={imageSrc} alt={imageAlt} />
	<div class="details">
		<span class="title">{title}</span>
		<span class="year">{year}</span>
	</div>

	<div class="actions">
		<a href="#" class="play">
			Play
			<i class="bi bi-play"></i>
		</a>
		<a href={exploreUrl} class="explore">
			Explore
			<i class="bi bi-arrow-right"></i>
		</a>
	</div>
</div>

<style lang="scss">
	@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

	.container {
		display: flex;
		height: 100%;
		flex-direction: column;
		padding: 0;
		background-color: #212529;
		border: 0.1rem solid rgba(255, 255, 255, 0.15);
		font-family: "IBM Plex Mono", monospace;

		&:hover {
			border-color: #ff6fe7;

			a,
			span {
				color: #fff;
			}

			.details,
			.actions,
			.explore {
				border-color: #ff6fe7;
			}
		}
	}

	img {
		display: block;
		width: 100%;
		aspect-ratio: 1/1;
		object-fit: cover;
	}

	.details {
		display: flex;
		align-items: center;
		flex-grow: 1;
		border-top: 0.1rem solid rgba(255, 255, 255, 0.15);
	}

	.actions {
		display: flex;
		border-top: 0.1rem solid rgba(255, 255, 255, 0.15);
	}

	span,
	a {
		display: block;
		padding: 1.25rem 1.25rem;
		color: rgba(255, 255, 255, 0.5);
		font-size: 1rem;
	}

	.title,
	.play {
		flex-grow: 1;
	}

	a {
		text-decoration: none;

		&.explore {
			border-left: 0.1rem solid rgba(255, 255, 255, 0.15);
		}

		&:hover {
			background: #ff6fe7;
			color: #000 !important;
		}
	}

	@media screen and (min-width: 400px) {
	}

	@media screen and (min-width: 576px) {
	}

	@media screen and (min-width: 768px) {
	}

	@media screen and (min-width: 992px) {
		span,
		a {
			padding: 0.75rem 1.25rem;
		}
	}

	@media screen and (min-width: 1200px) {
		span,
		a {
			font-size: 0.8rem;
		}
	}

	@media screen and (min-width: 1400px) {
	}

	@media screen and (min-width: 2000px) {
	}

	@media screen and (min-width: 3000px) {
	}
</style>
