---
import { Image } from "astro:assets";
import TestLayout from "@layouts/TestLayout.astro";
const { frontmatter } = Astro.props;
console.log("frontmatter:", frontmatter);
---

<TestLayout>
	<header>
		<div class="container block">
			<h1>{frontmatter.title}</h1>
			<span>{frontmatter.releaseDate}</span>
		</div>
	</header>

	<section>
		<div class="container block">
			<div class="container block img-container">
				<Image src={frontmatter.albumArt.src} alt={frontmatter.albumArt.alt} />
			</div>

			<div class="img-spacing"></div>

			<!-- <p>Album art by {frontmatter.albumArt.artist}</p> -->
			<slot />
		</div>
	</section>
</TestLayout>

<style lang="scss">
	header {
		padding: 5rem 0 0 0;
		background: linear-gradient(135deg, #170044, #510055);
	}

	h1 {
		font-family: var(--font-sans);
		margin: 0;
		margin-bottom: 1rem;
		font-size: 2.5rem;
		word-spacing: 0.1rem;
		text-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.5);
	}

	span {
		font-family: var(--font-mono);
	}

	.img-container {
		max-width: 100%;
		padding: 0;
	}

	img {
		margin-bottom: 2rem;
		border: 0.1rem solid #ff6fe7;
		box-shadow: 0.5rem 0.5rem 0rem #ff6fe7;
	}

	section :global(p) {
		font-family: "Inter", sans-serif;
		line-height: 1.5;
		font-size: 1.2rem;
	}

	@media screen and (min-width: 576px) {
		img {
			max-width: min(100%, 576px);
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media screen and (min-width: 992px) {
		h1,
		span {
			max-width: calc(70% - 5rem);
		}

		.img-container {
			height: 0;
			position: relative;
		}

		.img-spacing {
			display: block;
			float: right;
			width: calc(30% + 5rem);
			padding-top: calc(15% - 0.5rem);
		}

		img {
			width: 30%;
			position: absolute;
			right: 3rem;
			transform: translateY(calc(-50% - 2rem));
		}
	}

	@media screen and (min-width: 1200px) {
		section :global(p) {
			font-size: 1rem;
		}
	}
</style>
